.contact {
    background: var(--background);
    padding: 3rem 0;
}

.content-contact {
    width: 80%;
    max-width: 500px;
    margin: auto;
}

.content-contact span {
    color: var(--light-gold);
}

.content-contact h3 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    color: var(--white);
}

form {
    width: 100%;
    display: grid;
    gap: .5rem;
}

form input {
    height: 50px;
    padding: 0 1rem;
}

form textarea {
    padding: 1rem;
}

::placeholder {
    color: var(--placeholder);
}