.navbar-float {
    position: fixed;
    bottom: -100px;
    left: 0;
    z-index: var(--zposition-third);

    background: var(--background);
    width: 100%;
    padding: 1rem 0;
    overflow: hidden;

    transition: bottom .3s;
}

.navbar-float a {
    text-decoration: none;
    cursor: pointer;
}

.show-navbar {
    bottom: -1px;
}

.content-navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.content-navBar .box {
    display: grid;
    text-align: center;
}

.content-navBar .box span {
    font-size: 10px;
    color: var(--light-white);
}

.content-navBar .icon-nav {
    font-size: 2rem;
    color: var(--grey);
}

.content-navBar .icon-active {
    color: var(--gold);
}

@media (min-width:760px) {
    .navbar-float {
        width: auto;
        right: -100%;
        left: auto;
        bottom: 25%;

        transition: padding .3s, right .3s;
    }

    .show-nav-desktop {
        right: 0;
    }

    .hov-float {
        padding: 15px 10px;
    }

    .content-navBar {
        flex-direction: column;
        gap: 1rem;

        transition: gap .3s;
    }

    .hov-nav {
        gap: 2rem;
    }

    .content-navBar i {
        font-size: 1.5rem;
    }

    .content-navBar .box span {
        transform: translateX(50px);

        transition: transform .3s;
    }

    .content-navBar .box .hov-span {
        transform: translateX(0);
    }
}