.grilla {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 3rem;
}

.sub-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.App {
    background: var(--white);
    overflow: hidden;
}

@media (min-width: 800px) {
    .sub-title {
        font-size: 2rem;
    }
}